// Code blocks: reduce line-height slightly to improve vertical density
div.highlighter-rouge,
figure.highlight {
	line-height: 1.45;
	font-size: .7em; // slightly smaller than theme default (.75em)
}
div.highlighter-rouge pre,
figure.highlight pre,
div.highlighter-rouge code,
figure.highlight code {
	line-height: 1.45;
}
